@import 'variables';
@import 'mixins';

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    background-color: #36393f;
    color: white;
}

.margin{
    margin: 15px;
}

.row{
    @include center;
    display: $display;
    flex-direction: row;
    margin-bottom: 20px;
}
.column{
    @include center;
    display: $display;
    flex-direction: column;
}



h2{
    @include titulos;
}

.text-decoration{
    @include titulos;
    font-size: 18px;
}
